@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*our root colors*/
:root {
    --borders: #000;
    --calendarBorders: #fff;
    --main-text: rgb(62, 44, 44);
    --light: rgb(192, 190, 190); 
}

/*universal selectors*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This is your body styling for font, color and background color*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px; 
    font-family: 'Cascadia Code';
    color: var(--main-text);
    background-color: #304153;
}
/*This styles our header*/
header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    padding: 10px;
    height: auto;
    flex-wrap: wrap;
    background-color: var(--light);
    border-bottom: 3px solid var(--borders);
}
/*This styles our header title*/
header h1 {
    display: inline-block;
    font-size: 40px;
}
/*This places our header nav buttons*/
.header nav {
    margin-right: 20px;
    float: right;
    font-size: 20px;
    color: var(--main-text)
}
/*This removes the bullet style from the nav*/
.header nav ul {
    list-style-type: none;
}
/*This gives our navbar links their color*/
.header nav ul a {
    text-decoration: none;
    color: var(--main-text)
}
/*This adds a bit of spacing and keeps our navbar inline*/
nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 3px;
}
/*This ensures our content boxes are displayed below the nav bar*/
.one {
    margin-top: 110px;
}
/*Styling for all content boxes*/
.box {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background-color: var(--light);
}
/*This gives our event list the max height and scrollbar so we don't have an endless webpage*/
#allEvents {
    max-height: 400px;
    overflow-y: scroll;
    margin: 5px;
}
/*This styles the individual events*/
.event {
    list-style: none;
    color: rgb(219, 219, 219);
    background-color: #375e88;
    border: 3px solid var(--borders);
    margin: 5px;
}
/*Makes our event tile larger in front*/
#event-title {
    font-size: 25px;
}
/*Indents and sets font size for our event information (date, time and description)*/
#event-info {
    font-size: 13px;
    margin-left: 20px;
}
/*This colors events with today's date a teal color*/
.event-today {
    background-color: rgb(37, 122, 154);
}
.past-time {
    color: #000;
    background-color: rgb(111, 114, 115);
}
/*This makes future events green*/
.future-event {
    background-color: rgb(49, 113, 31);
}
/*This makes past events red*/
.past-event {
    background-color:rgb(134, 68, 68);
}
/*This hides past events unless user clicks past events button to view them*/
.past-display {
    display: none;
}
/*This hides events today based on button clicked*/
.today-display {
    display: none;
}
/*This hides future events based on button clicked*/
.future-display {
    display: none;
}
/*This is the styling for the footer/credits*/
.footer {
    z-index: 100;
    display: block;
    margin-top: auto;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: var(--main-text);
    background-color: var(--light);
    border-top: 3px solid var(--borders);
}
/*Styling for the footer header*/
.footer h3 {
    font-size: 20px; 
}

.modal {
    z-index: 1000;
}

/*Styling for Calender page*/

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar ul li {
    width: calc(100% / 7)
}

.calendar .week li,
.calendar .days li {
    font-weight: bolder;
    border: 1px solid var(--calendarBorders);
}

.calendar .days li {
    height: auto;
    min-height: 125px;
    text-align: left;
    padding-left: 5px;
    cursor: pointer;
}

.days li.active {
    background-color: rgb(188, 199, 241);
}

.days li.inactive {
    color: rgb(158, 158, 158);
}

.calendar .days li:hover {
    background-color: rgb(147, 147, 147);
}

.current-date {
    font-size: 25px;
}